! HiDPI
Xft.dpi: 96
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

! rofi
rofi.dpi: 150

! urxvt settings ------------------------------------------------

! scroll settings
URxvt*saveLines:	10000
URxvt*scrollbar:	true
URxvt*thickness:	20
URxvt*scrollColor:	#1E1E1E
URxvt*scrollBar_right:	true

URxvt*font:	xft:DejaVu Sans Mono for Powerline:size=12

! URxvt terminal colors
URxvt.transparent:	true
URxvt.shading:      	30
URxvt.depth:		32
! URxvt.background:	#000000
URxvt.foreground:       #FFFFFF
URxvt.color0:           #2C3E50
URxvt.color1:           #E74C3C
URxvt.color2:           #2ECC71
URxvt.color3:           #F1C40F
URxvt.color4:           #3498DB
URxvt.color5:           #9B59B6
URxvt.color6:           #1ABC9C
URxvt.color7:           #E0E0E0
URxvt.color8:           #95A5A6
URxvt.color9:           #E74C3C
URxvt.color10:          #2ECC71
URxvt.color11:          #F1C40F
URxvt.color12:          #3498DB
URxvt.color13:          #9B59B6
URxvt.color14:          #1ABC9C
URxvt.color15:          #ECF0F1
! Highlight background color
URxvt*highlightColor: #2C3E50
! Highlight foreground color
URxvt*highlightTextColor: #FFFFFF

! end urxvt settings -------------------------------------------
